* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  position: relative;
}

/* Imagem de fundo */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;  /* Fica atrás do formulário */
}

/* Formulário */
form {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;

}
.form-group-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon {
    margin-top: 10px;
}   

label {
  display: block;
  text-align: left;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 40px 0 15px;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}

.form-group i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #aaa;
}

select {
  cursor: pointer;
  background: white;
  padding-right: 15px;
}

.submit {
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background: #198754;  /* verde */
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background: #157347;
}

input:focus, select:focus, button:focus {
  outline: none;
  border-color: #157347;
  box-shadow: 0 0 5px rgba(21, 115, 71, 0.5);
}

