body {
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

 img {
  width: fit-content;
  height: 100dvh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 380px;
}


.input-field {
  margin-bottom: 15px;
}

.input {
  height: 45px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 14px;
  color: #333;
}

.submit {
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 45px;
  width: 100%;
  background: #198754;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background: #157347;
}